@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body{
    background-color: #DBCCDF;
    /* margin: 0;
    display: flex;
    align-items: center;
    justify-content: center; */
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
}
.white-box{
    background-color: whitesmoke;
    margin: 20px;
    width: 690px;
    height: 690px;
    margin-right: 0;
    margin-left: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.content{
    background-image: url(img/content-back.jpg);
    background-size: cover;
    height: 650px;
    margin: 20px;
}
.hide {
    display:none;
}
.menu{
    padding: 0;
    
}
.menu ul{
    padding: 0;
}

.menu ul li{
    list-style: none;
    width: 100px;
}

.line-home{
    height: 70px;
    width: 0;
    background-color: #edc2be;
    position: absolute;
    transition: width 0.5s ease-out;
}

.line-timeline{
    height: 70px;
    width: 0;
    background-color: #bbb1c9;
    position: absolute;
    transition: width 0.5s ease-out;
}

.line-skills{
    height: 70px;
    width: 0;
    background-color: #6c91cf;
    position: absolute;
    transition: width 0.5s ease-out;
}

.line-projects{
    height: 70px;
    width: 0;
    background-color: #ceb9c1;
    position: absolute;
    transition: width 0.5s ease-out;
}

.line-cv{
    height: 70px;
    width: 0;
    background-color: #4A558C;
    position: absolute;
    transition: width 0.5s ease-out;
}

.line-two{
    height: 70px;
    width: 100px;
    background-color: #8f8bac;
}

.menu ul li a{
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    z-index: 1;
    margin: 25px 2px;
    text-transform: uppercase;
}

.menu ul li:hover{
    cursor: pointer;
}

.menu ul li:hover [class^="line"]{
    width: 100px;
}

.button{
    transition: 0.25s ease-in;
}

.title{
    white-space: nowrap;
    font-family: 'WindSong', cursive;
    text-align: center;
    font-size: 70px;
    font-weight: bolder;
    margin: 0;
    color: #c58a8a;
    margin-top: 80px;
}

.home > h3{
    color: #4A558C;
    margin-top: -5px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

.social{
    height: 1.5em;
    min-width: 100%;
    margin: 0px;
    text-align: center;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7);
    
}

.socialbtns a, a:hover {
	text-decoration: none;
}

.socialbtns, .socialbtns ul, .socialbtns li {
    margin: 0;
    padding: 5px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
	width: 30px;
    height: 15px;
	color: #fff;
	padding: 12px;
}

.socialbtns .fa:hover {
	color: #c58a8a;
    transition: .7s ease-out;
}

.timeline{
    padding: 50px;
    background-color: rgba(100, 100, 111, 0.1);
}

.timeline-container{
    /*display: flex;
    justify-content: center;
    /*align-items: center; */
    /*scroll */
    height: 550px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/*scroll for chrome*/
.timeline-container::-webkit-scrollbar {
    display: none;
}

.timeline-container .row{
    display: flex;
}

.timeline-container .row1{
    justify-content: flex-start;
}

.timeline-container .row2{
    justify-content: flex-end;
}

.timeline-container .item{
    position: relative;
    background-color: #5b5975;
    border-radius: 5px;
    
    width: calc(45% - 50px);
    padding: 15px;
    color: #e9eaf1;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}
.item .item-info{
    margin: 0px;
}

.item .item-title{
    font-family: Lato;
    margin: 0;
}

.item .item-subtitle{
    margin-top: 5px;
    font-style: italic;
    font-weight: 4;
    font-family: Helvetica;
    font-size: smaller;
}

.item .item-details{
    font-family: Helvetica;
    font-weight: 4;
    margin-bottom: 0px;
}

.row .item .icon{
    position: absolute;
    background: whitesmoke;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #4A558C;
    top: 13px;
    font-size: 17px;
}

.row1 .item .icon{
    right: -67px;
}

.row2 .item .icon{
    left: -67px;
}

.timeline-container .item::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #5b5975;
    top: 28px;
    transform: rotate(45deg);
    z-index: 1;
}

.row1 .item::before{
    right: -7px;
    
}

.row2 .item::before{
    left: -7px;
}

.timeline-container .line{
    position: fixed;
    height: 550px;
    width: 4px;
    background: whitesmoke;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 29px 0px;
}

.skills{
    height: 100%;
    background-color: rgba(100, 100, 111, 0.1);
}

.skills-container{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
    height: 100%;
    padding-right: 50px;
    padding-left: 50px;
}

.skills-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    row-gap: 30px;
    background-color: rgba(13, 38, 83, 0.7);
    padding: 20px;
}

.icon-holder{
    width: 25%;
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 40px;
    color: whitesmoke;
    cursor: pointer
}

.icon::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(148, 144, 211);
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

.icon:hover::after {
    transform: scaleX(0.4);
    transform-origin: bottom center;
}

.icon-holder:hover::before, 
.icon-holder:hover::after{
    opacity: 1;    
}

.icon-holder::before {
    position: absolute;
    z-index: 2;
    opacity: 0;
    width: 200px;
    padding: 10px;
    font-size: 0.8em;
    line-height: 1.4em;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    color: white;
    content: "selamlar selamlar  selamlar selamlar selamlar selamlar selamlar  ";
    transition: .40s ease-in-out;   
}
/* 
.icon-holder::after {
    position: absolute;
    z-index: 1;
    display: none;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    content: "";
    bottom: 150%;
    left: 50%;
    border-top-color: rgba(0, 0, 0, 0.8);
    border-bottom-width: 0;
    transform: translateX(-50%);
} */

.icon-holder.top::before{
    bottom: calc(150% + 5px);
    left: 50%;
    transform: translateX(-50%);
}

.icon-holder.bottom::before{
    top: calc(150% + 5px);
    left: 50%;
    transform: translateX(-50%);
}

footer{
    color:#454e6b;
    font-style: italic;
    font-family: 'Helvetica';
    font-size: smaller;
}

